NewRelicAirlinesWeb/WebContent/WEB-INF/services/ReservationSystemServiceJson/META-INF/ReservationSystemJson.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://reservations.airline.newrelic.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://reservations.airline.newrelic.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://reservations.airline.newrelic.com">
            <xs:element name="makeReservation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="makeReservationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findAvailableFlights">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findAvailableFlightsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCitiesServed">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCitiesServedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listReservation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listReservationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listReservations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listReservationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelReservation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelReservationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="listReservationRequest">
        <wsdl:part name="parameters" element="ns:listReservation"/>
    </wsdl:message>
    <wsdl:message name="listReservationResponse">
        <wsdl:part name="parameters" element="ns:listReservationResponse"/>
    </wsdl:message>
    <wsdl:message name="findAvailableFlightsRequest">
        <wsdl:part name="parameters" element="ns:findAvailableFlights"/>
    </wsdl:message>
    <wsdl:message name="findAvailableFlightsResponse">
        <wsdl:part name="parameters" element="ns:findAvailableFlightsResponse"/>
    </wsdl:message>
    <wsdl:message name="listReservationsRequest">
        <wsdl:part name="parameters" element="ns:listReservations"/>
    </wsdl:message>
    <wsdl:message name="listReservationsResponse">
        <wsdl:part name="parameters" element="ns:listReservationsResponse"/>
    </wsdl:message>
    <wsdl:message name="cancelReservationRequest">
        <wsdl:part name="parameters" element="ns:cancelReservation"/>
    </wsdl:message>
    <wsdl:message name="cancelReservationResponse">
        <wsdl:part name="parameters" element="ns:cancelReservationResponse"/>
    </wsdl:message>
    <wsdl:message name="makeReservationRequest">
        <wsdl:part name="parameters" element="ns:makeReservation"/>
    </wsdl:message>
    <wsdl:message name="makeReservationResponse">
        <wsdl:part name="parameters" element="ns:makeReservationResponse"/>
    </wsdl:message>
    <wsdl:message name="getCitiesServedRequest">
        <wsdl:part name="parameters" element="ns:getCitiesServed"/>
    </wsdl:message>
    <wsdl:message name="getCitiesServedResponse">
        <wsdl:part name="parameters" element="ns:getCitiesServedResponse"/>
    </wsdl:message>
    <wsdl:portType name="ReservationSystemJsonPortType">
        <wsdl:operation name="listReservation">
            <wsdl:input message="ns:listReservationRequest" wsaw:Action="urn:listReservation"/>
            <wsdl:output message="ns:listReservationResponse" wsaw:Action="urn:listReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findAvailableFlights">
            <wsdl:input message="ns:findAvailableFlightsRequest" wsaw:Action="urn:findAvailableFlights"/>
            <wsdl:output message="ns:findAvailableFlightsResponse" wsaw:Action="urn:findAvailableFlightsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listReservations">
            <wsdl:input message="ns:listReservationsRequest" wsaw:Action="urn:listReservations"/>
            <wsdl:output message="ns:listReservationsResponse" wsaw:Action="urn:listReservationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancelReservation">
            <wsdl:input message="ns:cancelReservationRequest" wsaw:Action="urn:cancelReservation"/>
            <wsdl:output message="ns:cancelReservationResponse" wsaw:Action="urn:cancelReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="makeReservation">
            <wsdl:input message="ns:makeReservationRequest" wsaw:Action="urn:makeReservation"/>
            <wsdl:output message="ns:makeReservationResponse" wsaw:Action="urn:makeReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCitiesServed">
            <wsdl:input message="ns:getCitiesServedRequest" wsaw:Action="urn:getCitiesServed"/>
            <wsdl:output message="ns:getCitiesServedResponse" wsaw:Action="urn:getCitiesServedResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReservationSystemJsonSoap11Binding" type="ns:ReservationSystemJsonPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listReservation">
            <soap:operation soapAction="urn:listReservation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAvailableFlights">
            <soap:operation soapAction="urn:findAvailableFlights" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listReservations">
            <soap:operation soapAction="urn:listReservations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelReservation">
            <soap:operation soapAction="urn:cancelReservation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeReservation">
            <soap:operation soapAction="urn:makeReservation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCitiesServed">
            <soap:operation soapAction="urn:getCitiesServed" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReservationSystemJsonSoap12Binding" type="ns:ReservationSystemJsonPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listReservation">
            <soap12:operation soapAction="urn:listReservation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAvailableFlights">
            <soap12:operation soapAction="urn:findAvailableFlights" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listReservations">
            <soap12:operation soapAction="urn:listReservations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelReservation">
            <soap12:operation soapAction="urn:cancelReservation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeReservation">
            <soap12:operation soapAction="urn:makeReservation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCitiesServed">
            <soap12:operation soapAction="urn:getCitiesServed" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReservationSystemJsonHttpBinding" type="ns:ReservationSystemJsonPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="listReservation">
            <http:operation location="listReservation"/>
            <wsdl:input>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAvailableFlights">
            <http:operation location="findAvailableFlights"/>
            <wsdl:input>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listReservations">
            <http:operation location="listReservations"/>
            <wsdl:input>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelReservation">
            <http:operation location="cancelReservation"/>
            <wsdl:input>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="makeReservation">
            <http:operation location="makeReservation"/>
            <wsdl:input>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCitiesServed">
            <http:operation location="getCitiesServed"/>
            <wsdl:input>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/json" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReservationSystemJson">
        <wsdl:port name="ReservationSystemJsonHttpSoap11Endpoint" binding="ns:ReservationSystemJsonSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ReservationSystemJson"/>
        </wsdl:port>
        <wsdl:port name="ReservationSystemJsonHttpSoap12Endpoint" binding="ns:ReservationSystemJsonSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ReservationSystemJson"/>
        </wsdl:port>
        <wsdl:port name="ReservationSystemJsonHttpEndpoint" binding="ns:ReservationSystemJsonHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ReservationSystemJson"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
